<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<title>About-ArtistMatch</title>
	<body>
		<div class = "center">
		<img src="../static/logo.png">
		<p>ArtistBot is an end semester project for a course in NLP offered at LUMS. The bot predicts the artist using lyrics entered. Different machine learning techniques are applied on BOW model and results are then ensembled using max voting technique. The bot is trained on 400 songs of 4 artists only, namely Eminem,G-Eazy,MGK and  Kendrick Lamar as an initial prototype. In future versions, Deep learning techniques will be applied to capture more semantics behind the lyrics and model will be trained on fairly large dataset.  </p>
		<div>
     	 <button class="about1">
     	 <a href="/" class = "link"> Main</a>
     	 </button>
	</div>
	</body>

</head>
